@page
@model Ravenous.Pages.Groceries.DeleteModel

@{
    ViewData["Title"] = "Delete Grocery Item";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this?</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroceryList.IngredientAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroceryList.IngredientAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroceryList.Ingredient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroceryList.Ingredient.IngredientName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroceryList.Measurement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroceryList.Measurement.MeasurementName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="GroceryList.PkGroceryList" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
