@page
@model Ravenous.Pages.Groceries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GroceryList</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroceryList.IngredientAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroceryList.IngredientAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroceryList.Ingredient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroceryList.Ingredient.IngredientName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroceryList.Measurement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroceryList.Measurement.MeasurementName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.GroceryList.PkGroceryList">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
