@page
@model Ravenous.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Recipe Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].PrepTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].CookTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].RecipeType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Recipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeType.RecipeTypeName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PkRecipe">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PkRecipe">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PkRecipe">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
