@page "/ingredient_types"
@using System;
@using Ravenous.Models.DbModels;
@using Microsoft.EntityFrameworkCore;
@inject RavenousContext context

<div class="alert alert-danger alert-dismissible fade show" role="alert" hidden="@hideErrorAlert">
    @errorMessage
    <button type="button" @onclick="@(e => OnClickAlertClose())" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<h1>Ingredient Types</h1>
<div style="padding-bottom: 10px">
    <div class="input-group">
        <input type="text" @bind="newIngredientTypeName" style="flex-grow: 1"/>
        <div calss="input-group-append">
            <button type="button" class="btn btn-outline-secondary" @onclick="@(e => OnClickAddIngredientType())">Add Ingredient</button>
        </div>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Ingredient Type</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <Virtualize Context="ingredientType" Items="@ingredientTypes">
            <tr>
                <td>@ingredientType.IngredientTypeName</td>
                <td><button type="button" class="btn btn-outline-dark" @onclick="@(e => OnClickIngredientType(ingredientType.PkIngredientType))">Delete</button></td>
            </tr>
        </Virtualize>
    </tbody>
</table>

@code {
    private bool hideErrorAlert;
    private string errorMessage;
    private string newIngredientTypeName;
    private List<IngredientType> ingredientTypes;

    private async void GetIngredientTypes()
    {
        hideErrorAlert = true;
        ingredientTypes = await context.IngredientType
            .OrderBy(i => i.IngredientTypeName)
            .ToListAsync();
    }
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        GetIngredientTypes();
    }

    protected void OnClickAlertClose()
    {
        errorMessage = "";
        hideErrorAlert = true;
    }

    protected async void OnClickAddIngredientType()
    {
        if (ingredientTypes.Where(r => r.IngredientTypeName.Equals(newIngredientTypeName)).Any()) 
        {
            errorMessage = "Error: An ingredient type with that name already exists.";
            hideErrorAlert = false;
            return;
        }
        IngredientType newType = new IngredientType {
            IngredientTypeName = newIngredientTypeName
        };
        try 
        {
            context.IngredientType.Add(newType);
            await context.SaveChangesAsync();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            hideErrorAlert = false;
            return;
        }
        newIngredientTypeName = "";
        GetIngredientTypes();
    }

    protected async void OnClickIngredientType(int pkIngredientType)
    {
        var ingredientTypeToRemove = ingredientTypes.Where(i => i.PkIngredientType == pkIngredientType).FirstOrDefault();
        if (ingredientTypeToRemove != null)
        {
            context.IngredientType.Remove(ingredientTypeToRemove);
            await context.SaveChangesAsync();
            GetIngredientTypes();
        }
    }
    
}