@page "/ingredients"
@using System;
@using Ravenous.Models.DbModels;
@using Microsoft.EntityFrameworkCore;
@inject RavenousContext context

<div class="alert alert-danger alert-dismissible fade show" role="alert" hidden="@hideErrorAlert">
    @errorMessage
    <button type="button" @onclick="@(e => OnClickAlertClose())" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<h1>Ingredients</h1>
<div style="padding-bottom: 10px">
    <div class="input-group">
        <input type="text" @bind="newIngredientName" style="flex-grow: 1"/>
        <select @bind="newIngredientType">
            @foreach (var ingredientType in ingredientTypes)
            {
                <option value="@ingredientType.PkIngredientType">@ingredientType.IngredientTypeName</option>
            }
        </select>
        <div calss="input-group-append">
            <button type="button" class="btn btn-outline-secondary" @onclick="@(e => OnClickAddIngredient())">Add Ingredient</button>
        </div>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Ingredient Name</th>
            <th scope="col">Ingredient Type</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <Virtualize Context="ingredient" Items="@ingredients">
            <tr>
                <td>@ingredient.IngredientName</td>
                <td>@ingredient.IngredientType.IngredientTypeName</td>
                <td><button type="button" class="btn btn-outline-dark" @onclick="@(e => OnClickIngredient(ingredient.PkIngredient))">Delete</button></td>
            </tr>
        </Virtualize>
    </tbody>
</table>

@code {
    private bool hideErrorAlert;
    private string errorMessage;
    private string newIngredientName;
    private int newIngredientType;
    private List<Ingredient> ingredients;
    private List<IngredientType> ingredientTypes;

    private async void GetIngredients()
    {
        hideErrorAlert = true;
        ingredients = await context.Ingredient
            .OrderBy(i => i.IngredientName)
            .Include(i => i.IngredientType)
            .ToListAsync();
    }
    
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        GetIngredients();
        ingredientTypes = await context.IngredientType
            .OrderBy(t => t.IngredientTypeName)
            .ToListAsync();
    }

    protected void OnClickAlertClose()
    {
        errorMessage = "";
        hideErrorAlert = true;
    }

    protected async void OnClickAddIngredient()
    {
        if (ingredients.Where(i => i.IngredientName.Equals(newIngredientName)).Any()) 
        {
            errorMessage = "Error: An ingredient with that name already exists.";
            hideErrorAlert = false;
            return;
        }
        if (newIngredientType == 0)
        {
            errorMessage = "Error: You must select an ingredient type from the dropdown.";
            hideErrorAlert = false;
            return;
        }
        Ingredient newIngredient = new Ingredient {
            FkIngredientType = newIngredientType,
            IngredientName = newIngredientName,
        };
        try 
        {
            context.Ingredient.Add(newIngredient);
            await context.SaveChangesAsync();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            hideErrorAlert = false;
            return;
        }
        newIngredientName = "";
        GetIngredients();
    }

    protected async void OnClickIngredient(int pkIngredient)
    {
        var ingredientToRemove = ingredients.Where(i => i.PkIngredient == pkIngredient).FirstOrDefault();
        if (ingredientToRemove != null)
        {
            context.Ingredient.Remove(ingredientToRemove);
            await context.SaveChangesAsync();
            GetIngredients();
        }
    }
    
}