@page "/measurements"
@using System;
@using Ravenous.Models.DbModels;
@using Microsoft.EntityFrameworkCore;
@inject RavenousContext context

<div class="alert alert-danger alert-dismissible fade show" role="alert" hidden="@hideErrorAlert">
    @errorMessage
    <button type="button" @onclick="@(e => OnClickAlertClose())" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<h1>Measurements</h1>
<div style="padding-bottom: 10px">
    <div class="input-group">
        <input type="text" @bind="newMeasurementName" style="flex-grow: 1"/>
        <div calss="input-group-append">
            <button type="button" class="btn btn-outline-secondary" @onclick="@(e => OnClickAddMeasurement())">Add Ingredient</button>
        </div>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Measurement</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <Virtualize Context="measurement" Items="@measurements">
            <tr>
                <td>@measurement.MeasurementName</td>
                <td><button type="button" class="btn btn-outline-dark" @onclick="@(e => OnClickDeleteMeasurement(measurement.PkMeasurement))">Delete</button></td>
            </tr>
        </Virtualize>
    </tbody>
</table>

@code {
    private bool hideErrorAlert;
    private string errorMessage;
    private string newMeasurementName;
    private List<Measurement> measurements;

    private async void GetMeasurements()
    {
        hideErrorAlert = true;
        measurements = await context.Measurement
            .OrderBy(m => m.MeasurementName)
            .ToListAsync();
    }
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        GetMeasurements();
    }

    protected void OnClickAlertClose()
    {
        errorMessage = "";
        hideErrorAlert = true;
    }

    protected async void OnClickAddMeasurement()
    {
        if (measurements.Where(m => m.MeasurementName.Equals(newMeasurementName)).Any()) 
        {
            errorMessage = "Error: An measurement with that name already exists.";
            hideErrorAlert = false;
            return;
        }
        var newMeasurement = new Measurement {
            MeasurementName = newMeasurementName
        };
        try 
        {
            context.Measurement.Add(newMeasurement);
            await context.SaveChangesAsync();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            hideErrorAlert = false;
            return;
        }
        newMeasurementName = "";
        GetMeasurements();
    }

    protected async void OnClickDeleteMeasurement(int pkMeasurement)
    {
        var measurementToRemove = measurements.Where(m => m.PkMeasurement == pkMeasurement).FirstOrDefault();
        if (measurementToRemove != null)
        {
            context.Measurement.Remove(measurementToRemove);
            await context.SaveChangesAsync();
            GetMeasurements();
        }
    }
    
}