@page "/recipe_types"
@using System;
@using Ravenous.Models.DbModels;
@using Microsoft.EntityFrameworkCore;
@inject RavenousContext context

<div class="alert alert-danger alert-dismissible fade show" role="alert" hidden="@hideErrorAlert">
    @errorMessage
    <button type="button" @onclick="@(e => OnClickAlertClose())" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<h1>Recipe Types</h1>
<div style="padding-bottom: 10px">
    <div class="input-group">
        <input type="text" @bind="newRecipeTypeName" style="flex-grow: 1"/>
        <div calss="input-group-append">
            <button type="button" class="btn btn-outline-secondary" @onclick="@(e => OnClickAddRecipeType())">Add Ingredient</button>
        </div>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Recipe Type</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <Virtualize Context="recipeType" Items="@recipeTypes">
            <tr>
                <td>@recipeType.RecipeTypeName</td>
                <td><button type="button" class="btn btn-outline-dark" @onclick="@(e => OnClickRecipeType(recipeType.PkRecipeType))">Delete</button></td>
            </tr>
        </Virtualize>
    </tbody>
</table>

@code {
    private bool hideErrorAlert;
    private string errorMessage;
    private string newRecipeTypeName;
    private List<RecipeType> recipeTypes;

    private async void GetRecipeTypes()
    {
        hideErrorAlert = true;
        recipeTypes = await context.RecipeType
            .OrderBy(r => r.RecipeTypeName)
            .ToListAsync();
    }
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        GetRecipeTypes();
    }

    protected void OnClickAlertClose()
    {
        errorMessage = "";
        hideErrorAlert = true;
    }

    protected async void OnClickAddRecipeType()
    {
        if (recipeTypes.Where(r => r.RecipeTypeName.Equals(newRecipeTypeName)).Any()) 
        {
            errorMessage = "Error: An recipe type with that name already exists.";
            hideErrorAlert = false;
            return;
        }
        RecipeType newType = new RecipeType {
            RecipeTypeName = newRecipeTypeName
        };
        try 
        {
            context.RecipeType.Add(newType);
            await context.SaveChangesAsync();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            hideErrorAlert = false;
            return;
        }
        newRecipeTypeName = "";
        GetRecipeTypes();
    }

    protected async void OnClickRecipeType(int pkRecipeType)
    {
        var recipeTypeToRemove = recipeTypes.Where(r => r.PkRecipeType == pkRecipeType).FirstOrDefault();
        if (recipeTypeToRemove != null)
        {
            context.RecipeType.Remove(recipeTypeToRemove);
            await context.SaveChangesAsync();
            GetRecipeTypes();
        }
    }
    
}