@page
@model Ravenous.Pages.Ingredients.IndexModel

@{
    ViewData["Title"] = "Ingredient Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].IngredientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].IngredientType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ingredient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientType.IngredientTypeName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PkIngredient">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PkIngredient">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PkIngredient">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
